*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
@media screen and (max-width:768px){
  html{
    font-size:53%;
  }
}
@media screen and (max-width:468px){
  html{
    font-size:45%;
  }
}


